* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tryagain {
    font-size: 12pt;
    color:darkslateblue;
    padding: 20px;
}